<p id="notice"><%= notice %></p>

<h1>Service</h1>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @service.category.name %> <%= link_to 'Show', admin_category_path(@service.category) %>
</p>

<p>
  <strong>Price:</strong>
  <%= @service.price %>
</p>


<div class="options">
  <%= link_to 'Edit', edit_admin_service_path(@service) %>
</div>
