<p id="notice"><%= notice %></p>
<h1>Orders filter</h1>

<div class="filter">
  <%= form_with url: admin_orders_path, method: :get do |form| %>
    <div class="field">
      <%= form.label :customer_name %>
      <%= form.text_field :customer_name %>
    </div>

    <div class="field">
      <%= form.label :created_at %>
      <%= date_field :service, :created_at %>
    </div>

    <div class="field">
      <%= form.label :employee %>
      <%= form.collection_select :employee_id, Employee.all, :id, :name, prompt: "empty" %>
    </div>

    <div class="field">
      <%= form.label :category %>
      <%= form.collection_select :category_id, Category.all, :id, :name, prompt: "empty" %>
    </div>

    <div class="actions">
      <%= form.submit "Filtered" %>
    </div>
  <% end %>
</div>




<h1>Orders</h1>
<hr>
  <% @orders.each do |order| %>
    <div class="order-body">
      <div class="label">Customer:</div>
      <div class="data">
        <%= order.customer_name %>
      </div>
      <div class="label">Date:</div>
      <div class="data">
        <%= order.created_at.strftime("%d-%m-%Y") %>
      </div>
      <% order.order_services.each do |order_service| %>
        <div class="order-service">

          <div class="label">Service:</div>
          <div class="data">
            <b><%= order_service.service.category.name %></b>
            <br>
            <%= order_service.service.name %>
            <div class="label-price">Price:</div>
            <div class="data">
              <%= order_service.service.price %>
            </div>
          </div>
          <div class="label">Executor:</div>
          <div class="data">
            <%= order_service.employee.name %>
          </div>
        </div>
      <% end %>
      <br>
      <div class="options">
        <%= link_to 'Show', admin_order_path(order) %>
        <%= link_to 'Edit', edit_admin_order_path(order) %>
        <%= link_to 'Delete', admin_order_path(order), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
    <div class="label">Total price:</div>
    <div class="data">
      <%= order.total_price %>
    </div>
    <hr>
  <% end %>

<br>
<div class="options">
  <%= link_to 'New order', new_admin_order_path %>
</div>
