<h1>Order <%= @order.id %></h1>

<%= @order.customer_name %>
<%= @order.created_at %>

<% @order.order_services.each do |order_service| %>
    <p>Service:</p>
    <b><%= order_service.service.category.name %></b>
    <%= order_service.service.name %>
    <%= link_to 'Show', order_service.service %></td>
    <%= link_to 'Destroy', admin_order_service_path(order_service), method: :delete, data: { confirm: 'Are you sure?' } %>
    <p>Executor:</p>
    <%= order_service.employee %>
<% end %>
<p>Total price:</p>
<%= @order.total_price %>
<p>Status</p>
<%= @order.status %>
<%= link_to 'Show', admin_order %>
<%= link_to 'Edit', edit_admin_order_path(@order) %>
<%= link_to 'Delete', admin_order, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Edit', edit_admin_order_path(@order) %>
