<p id="notice"><%= notice %></p>

<h1>Category</h1>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Services:</strong>
  <table>
    <% @category.services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= link_to 'Show', admin_service_path(service) %></td>
        <td><%= link_to 'Edit', edit_admin_service_path(service) %></td>
        <td><%= link_to 'Destroy', admin_service_path(service), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
</p>
<div class="options">
  <%= link_to 'Edit', edit_admin_category_path(@category) %>
</div>
